body,
body * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.newbutton {
    font-weight: bold;
    color: rgb(98, 53, 170);
    font-size: 18px;
    border: none;
    height: 40px;
    width: 130px;
    border-radius: 10px;
    text-transform: uppercase;
    margin: 10px;
    background-color: rgb(200, 167, 231);    
}

.newbutton:hover {
    background-color: rgb(180, 129, 228); 
}

.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardTopDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}

.deleteButton {
    text-transform: uppercase;
    border: none;
    color: red;
    background-color: transparent;  
    transition-duration: 0.2s;  
}

.deleteButton:hover {
    transform: rotate(90deg);
    cursor: pointer;
}
.mainTextDiv {
    margin-top: 15px;
    margin-bottom: 7px;
    font-size: 20px;
    background-color: white;
    border-radius: 15px;
    height: 265px;
    word-wrap: break-word;
    padding: 8px;
}
.card {
    border: solid 4px blueviolet;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 10px;
    margin: 3px;
    width: 250px;
    height: 350px;
    transition-duration: 0.2s;
}



.card:hover {
    /* box-shadow: 2px -2px 10px 3px rgb(191, 150, 204); */
    transform: translateY(2px);

}

.card:nth-child(2n) {
    border: solid 4px rgb(58, 103, 199);
}

.card:nth-child(3n) {
    border: solid 4px rgb(39, 197, 123);
}